doctype html
head
    title metaphor
    
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Coda&display=swap', type='text/css')
    style
      include style.css
body
    h1= companyName
    #container.col
        h2 app details
        p app_name: #{appName}
        p chart version: #{chartVersion}
        p docker tag: #{dockerTag}
    #container.col
        h2 values from vault 
        p SECRET_ONE: #{secretOne}
        p SECRET_TWO: #{secretTwo}
    #container.col
        h2 values from configmap.yaml
        p CONFIG_ONE: #{configOne}
        p CONFIG_TWO: #{configTwo}